*{
    color: white;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: #780099;
    display: flex;
}

.espaco{
    padding: 30px;
}

.titulo{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    display: inline;
}

.ul-espaco{
    display: flex;
    padding: 30px;
}

.movimenta:hover{
    font-size: 20.5px;
    color: #689E0E;
}

.transicao{
    transition: 0.2s;
}

.lista{
    margin-top: 50px, 0px;
    display: inline;
    padding: 15px;
    font-size: 20px;
    font-family: 'Inter', sans-serif ;
    color: #ffffff;
    text-decoration: none;
}
