html {
    scroll-behavior: smooth;
}

main {
    background-color: #edededed;
}

.img-main-inicio {
    width: 100%;
}

.slogan-viva-bem {
    color: #541E63;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    position: absolute;
    top: 150px;
    left: 30px;
    width: 600px;
}

.titulo-viva-bem {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 450px;
    left: 30px;
    width: 630px;
    background-color: purple;
    border-radius: 10px;
    padding: 12px 10px;
    font-family:sans-serif;
}

.description-viva-bem {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.div-first-description{
    background-color: white;
    width: 40%;
    margin: 30px 0px 30px 30px;
    padding: 80px 40px;
    text-align: center;
}

.p-first-description{
    color: black;
    font-family: 'Gabarito', cursive;
    font-size: 30px;
}

.div-second-description{
    background-color: #333;
    width: 40%;
    margin: 30px 30px 30px 0px;
    padding: 80px 40px;
    text-align: center;
}

.p-second-description{
    color: white;
    font-family: 'Gabarito', cursive;
    font-size: 30px;
}

.div-produtos {
    background-color: #400052   ;
}

.img-mulher-produtos{
    width: 40%;
    padding: 30px;
}

.section-produtos {
    position: absolute;
    right: 60px;
    bottom: -920px;
}

.h2-produtos{
    font-family: 'Gabarito', cursive;
    font-size: 40px;
    padding: 20px 0px;
}

.p-produtos{
    font-family: 'Gabarito', cursive;
    font-size: 20px;
    padding: 0px 0px 20px;
}

.btn-veja-mais {
    color: black;
    background: white;
    border: 1px solid #8080807d;
    padding: 15px 150px;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Gabarito', cursive;
}

.anchor-arrow {
    color: black;
    width: 80px;
    display: grid;
    text-align: center;
}

.input-min {
    scale: 0.01;
    background: none;
    border: none;
    position: absolute;
}

.div-produtos-description{
    width: 50%;
    margin: 30px;
}

.h2-produtos-description{
    color: black;
    font-family: 'Gabarito', cursive;
    font-size: 40px;
    margin: 10px;
}

.p-produtos-description {
    color: black;
    font-family: 'Gabarito', cursive;
    font-size: 20px;
    margin: 30px 0px;
}

.section-produtos-btn{
    display: flex;
    padding: 30px 0px;
}

.btn-description-produtos {
    background-color: purple;
    border: 1px solid #808080d6;
    border-bottom: 0px;
    width: 100%;
    padding: 20px 50px 20px 50px;
    margin: 10px auto;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    text-align: inherit;
    transition: 0.2s;
}

.btn-description-produtos:focus {
    box-shadow: 4px -4px 1px 1px #360140;
    background-color: rgb(95, 1, 95);
}

.btn-description-produtos:nth-child(1){
    margin-top: 50px;
}

.name-produtos {
    color: white;
    width: 100%;
    font-family: 'Gabarito', cursive;
}

.plus{
    color: white;
    margin-left: 150px;
}

.material-symbols-outlined{
    color: black;
    position: absolute;
    margin: -5px 5px;

    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24,
    ;
}

.material-symbols-outlined:active {
    transform: rotate(180deg);
}

.seta-down{
    margin: -3px 0px 0px 91px;
    transition: 0.5s;
}

.notShowing {
    display: none;
}

.section-produtos-buy{
    background-color: purple;
    font-family: 'Gabarito', cursive;
    color: white;
    padding: 15px;
    margin: -10px 0px 20px;
    max-width: 485px;
}